<!DOCTYPE html>
<html>
<head>
    <title>Gallery - Flower Decoration</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <h1>🌸 Flower Decoration Gallery</h1>

    <nav>
        <a href="index.html">Home</a> |
        <a href="gallery.html">Gallery</a>
    </nav>

    <h2>Our Decoration Gallery</h2>

    <p>Here you can see our beautiful flower decorations.</p>
<h2>Choose a Category</h2>

<h3><a href="/haldi">🌼 Haldi Decoration</a></h3>

<h3><a href="/wedding">💍 Wedding Decoration</a></h3>

<h3><a href="/birthday">🎂 Birthday Decoration</a></h3>

</body>
</html>