<!DOCTYPE html>
<html>

<head>
    <title>Owner Dashboard</title>
</head>

<body>

    <h1>👑 Owner Dashboard</h1>

    <h2>Welcome, Owner!</h2>

    <hr>

    <h3>Manage Decorations</h3>

    <a href="/add-decoration">
        <button>Add Decoration</button>
    </a>

    <br><br>

    <a href="/edit-decoration">
        <button>Edit Decoration</button>
    </a>

    <br><br>

    <a href="/delete-decoration">
        <button>Delete Decoration</button>
    </a>

    <br><br>

    <a href="/">
        View Website
        <br><br>

<a href="/owner-logout">
    <button>Logout</button>
</a>
    </a>

</body>

</html>