<!DOCTYPE html>
<html>

<head>
    <title>Owner Login</title>
</head>

<body>

    <h1>🔐 Owner Login</h1>

    <form method="POST" action="/owner-login">

        <label>
            <strong>Username:</strong>
        </label>

        <br>

        <input
            type="text"
            name="username"
            required
        >

        <br><br>

        <label>
            <strong>Password:</strong>
        </label>

        <br>

        <input
            type="password"
            name="password"
            required
        >

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

</body>

</html>
